* {
    box-sizing: border-box;
}
body{
    margin: 0;
}

:root {
    --header: #40617f;
    --orange: #ff9632;
    --main: #FFFFFF;
    --button:#bebcb6;
    --primary-font: "Montserrat", sans-serif;
    --secondary-font: "Alea", sans-serif;
    --font-color: #FFFFFF;
}

main {
    margin: 0 3vw;

}

header {
    background: var(--header);
    height: 6vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
.language{
    margin: 1vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}
.log{
    width: 7vw;
    background-image: url(../image/Log%20in.png);
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;


}
.lang{
    width: 4vw;
     background-image: url(../image/language.png);
    background-size: 100%;
    background-position: center;
       background-repeat: no-repeat;

}

.logo {
    width: 6vw;
    background-image: url(../image/AKAP_Logo_Vertical_OrangeWhite_RGB.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0.5vw;

}

form {
    margin-top: 2.2vw;
}

nav {
    margin-top: 1vw;

}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;


}

li {
    float: left;

}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: var(--primary-font);
    font-size: 1.4vw;

}

li a:hover {
    background-color: #111;
}

.language {
    height: 3vw;
}

.hld {
    height: 20vw;
    margin-top: 1vw;
    background-image: url(../image/hh.jpg);
    background-size: cover;
    background-position: center;
}
.container1 {
    background: var(--main);
    min-height: 50vh;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(450px, 2fr));

    margin: 20px 0;
    grid-gap: 20px;
}

h2.title {
    font-family: var(--secondary-font);
    margin: 1vw;
    font-size: 2.2vw;
    margin-top: 2vw;
    position: absolute;
}

p.desc {
    position: absolute;
    font-family: var(--primary-font);
    font-weight: 700;
    font-stretch: expanded;
    font-size: 1.2vw;
    margin-left: 1vw;
    margin-top: 5.5vw;
    width: 40vw;
    word-spacing: 3px;

}
.box1 {
    background-image:url(../image/template1.png);
     background-size: cover;
    background-position: center;

}
.tex{
    margin: 3vw;

}
.b1{
    margin: 0.5vw;;
    font-family: var(--secondary-font);
    font-size: 2.1vw;
}
.p1{
    margin: 0;
    font-family: var(--primary-font);
    font-size: 1.2vw;
    font-weight: 700;

}
.box2 {
  background-image:url(../image/template2.png);
     background-size: cover;
    background-position: center;
}
.b2{
    margin: 0.5vw;
    font-family: var(--secondary-font);
    font-size: 2.1vw;
    color: var(--main);
}
.p2{
    margin: 0;
    font-family: var(--primary-font);
    font-size: 1.2vw;
     color: var(--main);
    font-weight: 700;
}
.button1{
    margin-left: 37vw;
    height: 5vw;
    background: var(--orange);
    border-color: var(--orange);

}
.butt1{
    width: 3vw;
}

.button2{
    margin-top: 2vw;
    margin-left: 35vw;
    height: 5vw;
    background: var(--header);
    border-color: var(--header);

}
.button1:hover{
    transform: scale(1.2,1.3);
}
.button2:hover{
    transform: scale(1.2,1.3);
}
.service{
    font-size: 2vw;
    margin: 1vw;
    font-family: var(--primary-font);
    color: var(--header);
}
footer{
    height: 55vw;
    background: var(--header);

     font-family: var(--primary-font);
}
.foot{
    width: 10vw;
    height: 5vw;
    margin: 0 3vw;
   background-image: url(../image/AKAP_Logo_Horizontal_OrangeWhite_RGB.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}
#foo{
       min-height: 25vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    margin: 1vw 3vw;
    grid-gap: 10px;
    border-bottom: 3px solid white;

}
#foo h3{
    color: var(--orange);
    font-size: 1.7vw;
}
#foo h5{
    font-size: 1vw;
    color: white;
}

.some{
    display: flex;
    flex-direction: row;
 justify-content: space-around;
    margin-left: -2vw;
    background: var(--header);
}
.some a{
    text-decoration: none;
    color: white;
    font-family: var(--secondary-font);
}


#foo2{
       min-height: 25vh;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));

    margin: 1vw 3vw;
    grid-gap: 10px;
    border-bottom: 3px solid white;
}
#foo2 h3{
    color: var(--orange);
    font-size: 1.7vw;
}
#foo2 h5{
    font-size: 1.1vw;
    color: white;
}
.last{
    margin-left: 3vw;
    color: white;
}

.pension{
     display: grid;
  max-width: 1200px;
  margin: auto;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 60px;
    margin-bottom: 2vw;
}
.cont2{
    display: flex;
    flex-direction: column;
    box-shadow: 3px 3px 5px #000000ab;
    transition: 0.2s;
}
.pimage{
    max-height: 28vw;
}
.cont2 h3{
    font-family: var(--primary-font);
}
#pbut{
      width: 8vw;
    margin-left: 9vw;
  border: 2px solid var(--header);
    color:var(--header);
    text-decoration: none;
    margin-bottom: 1vw;
    font-family: var(--primary-font);
    border-radius: 10px;
    font-weight: 600;
}
#pbut:hover{
    background: var(--header);
    color: white;
}
.desc{
    margin-left: 1vw;
}
